/* Apply these styles to the form container */
.screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: #002a5b; /* Add a background color to the entire screen */
  }
  
  .container {
    margin: 20px; /* Add margin to create more space around the form */
    margin-top: 150px;
    padding: 20px; /* Add padding to the form */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 600px;
    background-color: #002a5b;
    border-radius: 30px;
    border: 1px solid black;
  }
  
  h1 {
    width: 100%;
    font-size: 2.5rem;
    color: white; /* Change the text color to white */
  }
  
  form {
    height: 100%;
    width: 100%;
  }
  
  /* Styles for the disease selection field */
  .diseaseSelectionField {
    margin-top: 20px;
  }
  
  /* Adjust the position of the select element */
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
    outline: none;
    color: black; /* Change the text color to black */
  }
  
  /* Style for Preferred Appointment Dates section */
  h4 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: white; /* Change the text color to white */
  }
  
  /* Style for labels and input elements */
  label {
    font-size: 1rem;
    margin-top: 10px;
    color: white; /* Change the text color to white */
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    outline: none;
    margin-top: 5px;
    color: black; /* Change the text color to black */
  }
  
  button {
    background-color: #007BFF;
    color: white; /* Change the text color to white */
    border: none;
    border-radius: 52px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    margin: 5px;
  }
  
 
  