@font-face {
    font-family: roboto;
    src: url("../fonts/Poppins-BlackItalic.ttf");
}


.screen{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.background{
    left: 20%;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.triangle1{
    rotate: 53deg;
    top: -35%;
    left: 30%;
	position: absolute;
	width: 1570.5px;
	height: 1500px;
	background: #01264c;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.triangle2{
    rotate: 53deg;
    top: -35%;
    left: 40%;
	position: absolute;
	width: 1570.5px;
	height: 1500px;
	background: #002141;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.container{
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100vh;
    width: 100vw;
}

.text{
    padding: 5rem;
    color: white;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text h1{
    /* width: 70%; */
    font-family: roboto;
    font-size: 8vw;
}

.text p{
    font-size: 2vw;
    width: 60%;
    text-align: justify;
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    width: 100%;
}

.buttonBox button{
    border-radius: 10px;
    background-color: #01264c;
    border: 1px solid white;
    color: white;
    font-size: 1vw;
    margin: 0px 20px;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 1px solid white;
    -moz-border-radius: 1px solid white;
    -ms-border-radius: 1px solid white;
    -o-border-radius: 1px solid white;
}


.heading{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
}

.sticker{
    position: absolute;
    top: calc(60% - 0.4*100%);
    left: calc(55% - 0.4*100vh);
    height: 50%;
    aspect-ratio: 3/2;
}