.container{
    text-align: center;
    color: #E4E7EC;
    border: 2px solid #E4E7EC;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
    /* overflow-y: scroll; */
    overflow-x: scroll;
    height: 50vh;
    width: clamp(800px,100%);
    /*background-color: wheat;
    */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container hr{
    margin: 20px 0px;
    color: #E4E7EC;
    background-color: #E4E7EC;
    border: 2px solid #E4E7EC;
}

.container::-webkit-scrollbar{
    display: none;
}

.container h1{
    position: sticky;
    top: 0;
    font-size: 34px;
}

.holder{
    position: sticky;
    transition: 0.4s;
    padding: 0 10px;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.holder input[type=checkbox]{
    border-radius: 100px;
    width: 20px;
    aspect-ratio: 1;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


.holder:hover{
    background-color: #a6c2ed;
}

.holder p{
    font-size: 14px;
    width: 20%;
    text-align: center;
}

.listHolder{
    height: 60%;
    overflow-y: scroll;
}