.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-right: 400px;

}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.resultContainer,
.historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputContainer>.errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

::selection {
    background-color: #C3CFE2;
}

.text {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #f6f8f8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.inputButton {
    border-radius: 30px;
    background: linear-gradient(to right, #30CFD0 0%, #f6f5f7 100%);
    color: rgb(0, 0, 0);
    font-size: x-large;
}

.inputButton:hover {
    background-color: #f4f4f4;
}

input {
    color: white;
}

img {
    margin-top: -100px;
    width: 25%;
}