.container{
    background-color: black;
    height: 80%;
    width: 80%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    /* border-top: 2px solid white; */
    border-left: 2px solid white;
    border-right: 2px white;
    /* border-bottom: 2px solid white; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%{
        rotate: 0deg;
    } 
    100%{
        rotate: 360deg;
    }
}

@keyframes expand {
    0%{
        width: 0%;
        border-right: 2px solid white;
    }
    100%{
        width: 70%;
        border: 2px solid teal;
    }
}

.animation1{
    transition: 2s;
    animation: rotate 4s infinite;
    -webkit-animation: rotate 4s infinite;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.animation1:nth-child(1){
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    animation: rotate 4s infinite linear;
    transition: 2s;
    -webkit-animation: rotate 4s infinite linear;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.animation1:nth-child(3){
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    animation: rotate 4s infinite linear;
    transition: 2s;
    -webkit-animation: rotate 4s infinite linear;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}



.animation1:nth-child(2){
    border-top: 2px solid white;
    border-bottom: 2px solid black;
    animation: rotate 4s infinite linear;
    transition: 2s;
    -webkit-animation: rotate 6s infinite linear;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.animation2:nth-child(even){
    animation: expand 2s;
    -webkit-animation: expand 2s;
}

.animation2:nth-child(odd){
    animation: expand 2s;
    -webkit-animation: expand 2s;
}