.container{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left h1{
    font-size: 24px;
}

.left p{
    font-size: 16px;
}

.right{
    height: 100%;
}
.transScribeButton{
    height: 100%;
    padding: 20px;
    outline: none;
    border: 1px solid #0046a8;
    background-color: #0046a8;
    border-radius: 10px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}