.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.container{
    overflow: hidden;
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.background{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.background div:nth-child(1){
    height: 130%;
    width: 50%;
    position: relative;
    left:60%;
    top: -2%;
    rotate: 5deg;
    background-color: palegreen;
}

.background div:nth-child(2){
    height: 10%;
    width: 20%;
    background-color: purple;
}